.overflowY {
    position: absolute;
    top: 10%;
    height: 80vh;
    width: 100vw;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.arrow {
    height: 10px;
    width: 10px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    transition: all 200ms;
}

.arr-down {
    transform: rotate(-135deg);
}

.arr-up {
    transform: rotate(45deg);
}

.fullscreen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5000;
    background: black;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
}

.fullscreenOpen {
    animation: totop forwards 1s;
}

.fullscreenClose {
    animation: tobottom forwards 1s;
}

.position-5 {
    position: relative;
    top: -7%;
}

.left-m {
    transform: translateX(5%);
    width: 90%;
}

.overflowPos {
    height: 80vh;
    overflow: scroll;
    position: absolute;
    left: 0;
    top: 10vh;
}

@keyframes totop {
    0% {
        top: 10%;
        opacity: 0;
        visibility: hidden;
    }

    100% {
        top: 0;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes tobottom {
    0% {
        top: 0%;
        opacity: 1;
        visibility: visible;
    }

    100% {
        top: 10%;
        opacity: 0;
        visibility: hidden;
    }
}


.items {
    position: relative;
    cursor: pointer;
}

.urgent {
    position: absolute;
    right: 1%;
    bottom: 2%;
}

.sc-2 {
    scale: 1.5;
}

.mc-2 {
    margin-right: .12rem;
}

.mrC-2 {
    margin-right: .20rem;
}

.topleft {
    position: absolute;
    left: 2%;
}